<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body >
<!--Thymeleaf 前端框架以 Html 为载体-->



<div style="height: 1000px;margin-left: auto;margin-right: auto;width: 500px;background-color: #f8f8f8">


 <div style="width: 100%;text-align: center">
     首页
 </div>

 <a style="margin-top: 20px;padding-top: 20px;display: block;width: 50%;height: 50px;text-align: center;background-color: aliceblue" href="/register">注册账号</a>




</div>


</body>
</html>